/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
  }

body {
    background-image: url('./images/quizz4.png'); 
    background-position: center;
    background-repeat: repeat;
    margin: 0; 
    font-family: 'Avenir', sans-serif; 
    
  }